{% extends 'base.html.twig' %}

{% block title %}Workout tracker
{% endblock %}

{% block body %}
<div class="container">
    <h2 style="text-align: center; margin-top: 30%">
        Browse, add, edit and remove workouts
    </h2>
</div>
{% endblock %}
