{% extends 'base.html.twig' %}

{% block title %}Add activity
{% endblock %}

{% block body %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Activity</th>
                <th scope="col">Duration</th>
                <th scope="col">kcal</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ record.type }}</td>
                    <td>{{ record.duration }}</td>
                    <td>{{ record.kcal }}</td>
                    <td>{{ record.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
